
body {
    background-color: white;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.container label,
.container input {
    width: 300px;
    color: black;
}

.container label {
    text-align: left;
}

.container input {
      width: 300px;
    height: 38px;
    padding: 0 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
}